@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

body {
    font-size: 10px;
    background-color: #000;
    background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}
.retreat{
    height: 3rem;
    display: inline-block;
    font-size: 1.5rem;
    padding: .5rem;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
    margin-right: 3rem;
}
.btn-container {
    display: flex;
    justify-content: space-between;
}
.atk-container{
    display: flex;
    gap: 1rem;
}
.atk-container > div > button{
    font-size: 1.5rem;
    padding: .5rem;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
}
.atk-container > div > button:hover{
    background-color: #6aff22;
}
.retreat:hover{
    background-color: #ff0a0a;
    color: #fff;
}
.enterprise-img{
    display: flex;
    justify-content: center;
    margin: 2rem;

}
.enterprise-img > img{
    width: 40%;
}
img{
    height: 15rem;
    width: 15rem;
}
.message {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.winner {
    color: #1120ff;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}
.instructions{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Audiowide', sans-serif;
}
p {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.log {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    background-color: #000;
}
.title{
    padding: 2rem;
    font-family: 'Audiowide', sans-serif;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 100%
}
.logo > img {
    width: 100px;
    height: 100px;
}