@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

body {
    font-size: 10px;
    background-color: #000;
    background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.btn-style {
    display: flex;
    justify-content: space-around;
}
.btn-style > button {
    font-size: 1.5rem;
    padding: .5rem;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}
.btn-style > button:hover{
    background-color: #000ee8;
    color: #fff;
}
.enterprise-img{
    display: flex;
    justify-content: center;
    margin: 2rem;

}

.enterprise-img > img{
    width: 40%;
}

.message {
    color: #ff0a0a;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.winner {
    color: #22caff;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-align: center;
}
p {
    color: #fff;
    font-size: 1.5rem;
}
.log {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    background-color: #000;
}